* {
    font-family: Open Sans,sans-serif;
  }
  #bottom{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px;
    background-color: rgb(229, 248, 248);
  }
  #bottom>div>div{
    color:grey;
    line-height:33px;
  }
  h3{
    color:black;
  }
  #bottom>div:hover{
    cursor: pointer;
  }
  
  #social{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
    background-color: rgb(229, 248, 248);
  }
  
  #social>div{
    border-radius: 10px;
    width:62px;
    height:62px;
    margin-top:50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  #social>div>img{
    width:60px;
    border-radius: 10px;
  }
  #payment{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    background-color: rgb(229, 248, 248);
  }
  #boxes{
      display:grid;
      grid-template-columns: repeat(4,300px);
      margin-left:35px;
      margin-bottom:100px;
  }
  
  #boxes>div>p{
      width:280px;
      font-size:18px;
  }
  #phone{
      display:grid;
      grid-template-columns: repeat(2,400px);
      margin-bottom:100px;
  }
  #phone>div>img{
      width:270px;
      height:500px;
      margin-left:50px;
  }
  #phone>div>p{
      width:150px;;
      height:50px;
      background-color: rgb(71, 70, 70);
      color:white;
      font-weight:600;
      text-align: center;
     
  }
  #nav{
   display:flex;
   background:rgb(16,132,126);
  }
  #nav>div{
  
   color:white;
   margin:auto;
  }
  #nav>div:hover{
   text-decoration: underline;
  }
  #cont{
   display:flex;
   justify-content: space-evenly;
   
   height:700px;

  }
  #cont>div:nth-child(1){
    overflow: auto;
   
  }
  button{
    background-color: teal;
    color:white;
    padding:15px;
    font-weight: 700;
    border-radius:5px;
  }
  #box1{
    width:300px;
    height:300px;
    background-color: rgb(159, 117, 228);
    border-radius: 10px;
    margin-top:20px;
  }
  #containers{
  display:grid;
  
  grid-template-columns :1,800px;
  grid-template-rows: repeat(42,180px);
  gap:20px;
  
  }
  #containers>div{
  
   width:500px;
   margin-left:100px;
   border:1px solid rgb(216, 214, 214);
   border-radius: 10px;
   font-family: Open Sans,sans-serif!important;
   font-size: 16px;
   font-weight: 400;
   padding-left:80px;
   padding-top:20px;
  }
  #containers>div:hover{
    border-color: rgb(31, 150, 142);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  #alert{
  width:500px;
  height:50px;
  color:#fc8019;
  background-color: #FFF8da;
  margin-top:60px;
  }
  h3{color: #585858;
  }
  h1{
  text-align:center;
  text-decoration-line: underline;
  }
  #flex{
  display:flex;
  
  }
  #imgs{
  width: 30px;
  height:30px;
  margin-top:20px;
  margin-right:10px;
  }
  p{
   margin-left:2px;
   margin-right:300px;
   margin-top:10px;
   font-size:12px;
   color:rgb(167, 163, 163);
     font-weight:600;
  }
  #flex1{
  display:flex;
  margin-top:-10px;
  }
  
  h4,h5{
    margin-left:40px;
    color: #585858;
    margin-right:7px;
     margin-top:10px;
    font-weight:600;
  }
  #coupon{
    font-size:30px;
    padding:10px;
    text-align: center;
    margin-top:15px;
    border-radius: 10px;
  }
  #apply{
    font-size:20px;
    background-color:rgb(115, 192, 163);
    color:white;
    padding:10px;
    margin:10px;
  }
  li{
    font-size:16px;
    font-weight:700;
  }
  #par{
    color:white;
    font-weight:600;
    font-size:22px;
  }
  ul{
    color:white;
    font-size:18px;
  }
  #box{
    height:1200px;
  }
  h6{
    font-size:20px;
  }
  
  
  input:focus{
  color:rgb(235, 76, 28) ;
  background-color: rgb(93, 211, 156);
  }